/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
picture,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;

  display: grid;
  grid-template-rows: min-content 1fr;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* custom properties  */

:root {
  --clr-dark: 230 35% 7%;
  --clr-accent: 231 77% 90%;
  --clr-white: 0 0% 100%;

  --fs-900: clamp(5rem, 12vw + 2rem, 9rem);
  --fs-800: 3.5rem;
  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-300: 0.9375rem;
  --fs-200: 0.875rem;

  --ff-serif: "Bellefair", serif;
  --ff-sans-condensed: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 768px) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.75rem;
    --fs-500: 1.5rem;
    --fs-400: 1.25rem;
    --fs-300: 1rem;
    --fs-200: 1rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
  }
}

/* utility classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 1110px;
}

.display-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-to-main-content {
  transform: translateY(-100%);
  transition: 0.7s ease-in-out;
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white) / 0.5);
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
}

.skip-to-main-content:focus {
  transform: translateY(0);
}

/* colours */

.bg-clr-white {
  background-color: hsl(var(--clr-white));
}
.bg-clr-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-clr-accent {
  background-color: hsl(var(--clr-accent));
}

.bg-transparent {
  background-color: transparent;
}

.text-white {
  color: hsl(var(--clr-white));
}
.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-accent));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-condensed {
  font-family: var(--ff-sans-condensed);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.ls-0 {
  letter-spacing: 0px;
}
.ls-1 {
  letter-spacing: 2px;
}
.ls-2 {
  letter-spacing: 4px;
}

/* line heights? */

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.uppercase {
  text-transform: uppercase;
}

/* components */

.numbered-title {
  font-family: var(--ff-sans-condensed);
  font-size: var(--fs-500);
  letter-spacing: 4.72px;
  text-transform: uppercase;
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}

.large-btn {
  display: inline-grid;
  position: relative;
  z-index: 1;
  aspect-ratio: 1;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.125rem;
  animation: 1.5s fadeInUp;
}

.large-btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: hsl(var(--clr-white) / 0.15);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform ease-in-out 0.5s, opacity linear 0.75s;
  opacity: 0;
  animation: pulse-bg 3s 3;
}

.large-btn:hover::after,
.large-btn:focus::after {
  transform: scale(1.5);
  opacity: 1;
}

@media (min-width: 768px) {
  .large-btn {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .large-btn {
    animation: pulse 3s 3;
  }
}

/* primary header & navigation */

.navigation-logo {
  min-width: 3rem;
  padding-block: 1.5rem;
  margin-inline: clamp(1rem, 3.5vw, 4rem);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.primary-header > nav {
  flex: 1;
  max-width: 800px;
}

.primary-navigation {
  --gap: 3rem;
  --underline-gap: 2.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  margin-left: auto;
  padding-inline: clamp(2.5rem, 5vw, 4rem);

  background-color: hsl(var(--clr-dark) / 0.95);
}

.primary-navigation a {
  text-decoration: none;
  padding-block: 3rem;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

.mobile-nav-toggle {
  display: none;
}

@supports (backdrop-filter: blur(2rem)) {
  .primary-navigation {
    background-color: hsl(var(--clr-white) / 0.05);
    backdrop-filter: blur(2rem);
  }
}

@media (max-width: 767px) {
  .primary-navigation {
    --gap: 3rem;
    --underline-gap: 0;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    flex-direction: column;
    justify-content: flex-start;
    padding: 6rem 2rem;
    margin: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .primary-navigation.underline-indicators > *:hover {
    border-color: transparent;
  }

  .primary-navigation.underline-indicators > .active {
    border-bottom: 0;
    border-right: 0.2rem solid hsl(var(--clr-white) / 1);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    left: auto;

    border: none;
    background: none;
    background-image: url(./assets/shared/icon-hamburger.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets/shared/icon-close.svg);
  }
}

@media (min-width: 1024px) {
  .primary-header {
    margin-block: 2.5rem;
  }

  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin-right: -3rem;
    z-index: 8000;
    background: hsl(var(--clr-white) / 0.25);
    order: 1;
  }

  .primary-header > nav {
    order: 2;
  }
}

.underline-indicators > * {
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
  cursor: pointer;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-white) / 1);
  border-color: hsl(var(--clr-white) / 1);
}

.tab-items {
  --underline-gap: 0.75rem;
}

.pagination-indicators > * {
  padding: 0.4em;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0;
  background-color: hsl(var(--clr-white) / 0.25);
  cursor: pointer;
}

.pagination-indicators > *:hover,
.pagination-indicators > *:focus {
  background-color: hsl(
    var(--clr-white) / 0.5
  );
}

.pagination-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white) / 1);
}

.numbered-indicators > * {
  font-family: var(--ff-serif);
  font-size: var(--fs-500);
  color: hsl(var(--clr-white));
  padding: 0 1em;
  background-color: transparent;
  border: 0.1rem solid hsl(var(--clr-white) / 0.5);
  border-radius: 50%;
  aspect-ratio: 1;
}

.numbered-indicators > *:hover {
  border-color: hsl(var(--clr-white));
}

.numbered-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-white));
}

@media (min-width: 1024px) {
  .numbered-indicators > * {
    padding: 0 1.25em;
  }
}

/* layout */

.grid-container {
  place-items: center;
  text-align: center;
  display: grid;
  gap: var(--grid-container-gap, 1rem);
  padding-block: 2.5rem;
  padding-inline: clamp(1.5rem, 5vw, 4rem);
}

.grid-container--destination,
.grid-container--crew,
.grid-container--technology {
  animation: 1.5s fadeInUp;
}

.grid-container p:not([class]) {
  max-width: 50ch;
}

@media (min-width: 1024px) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(
        2rem,
        1fr
      );
  }
}

/* backgrounds */

.home-page {
  background-image: url(./assets/home/background-home-mobile.jpg);
  background-size: cover;
  background-position: bottom center;
}

.destination-page {
  background-image: url(./assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.crew-page {
  background-image: url(./assets/crew/background-crew-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.technology-page {
  background-image: url(./assets/technology/background-technology-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .home-page {
    background-image: url(./assets/home/background-home-tablet.jpg);
  }

  .destination-page {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }

  .crew-page {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }

  .technology-page {
    background-image: url(./assets/technology/background-technology-tablet.jpg);
  }
}

@media (min-width: 1024px) {
  .home-page {
    background-image: url(./assets/home/background-home-desktop.jpg);
  }

  .destination-page {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
  }

  .crew-page {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
  }

  .technology-page {
    background-image: url(./assets/technology/background-technology-desktop.jpg);
  }
}

/* destination page */

.grid-container--destination {
  --flow-space: 2rem;
  margin-bottom: 3rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.grid-container--destination > h1 {
  grid-area: title;
  margin-bottom: clamp(1rem, 5vw, 3rem);
}

.grid-container--destination > img {
  grid-area: image;
  width: 60%;
}

.grid-container--destination .tab-items {
  grid-area: tabs;
  gap: 2rem;
}

.grid-container--destination > .destination-info {
  grid-area: content;
}

.grid-container--destination > img {
  width: 40%;
}

.destination-stats {
  --gap: 1.5rem;
  flex-direction: column;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid hsl(var(--clr-white) / 0.25);
}

.destination-stats p {
  font-size: 1.75rem;
}

@media (min-width: 768px) {
  .grid-container--destination .numbered-title {
    justify-self: start;
  }

  .destination-stats {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  .grid-container--destination {
    justify-items: start;
    align-content: start;
    grid-template-areas:
    ". title title ."
    ". image tabs ."
    ". image content .";
  }

  .grid-container--destination > img {
    width: 80%;
  }

  .destination-stats {
    --gap: 6rem;
    justify-content: flex-start;
  }
}

/* home page */

.home-page h1 > span {
  margin-block: 2rem;
}

.home-content {
  animation: 1.5s fadeInDown;
}

.home-content p {
  max-width: 58ch;
}

@media (min-width: 768px) {
  .grid-container--home {
    --grid-container-gap: 5rem;
  }
}

@media (min-width: 1024px) {
  .grid-container--home > *:first-child {
    grid-column: 2;
  }
  
  .grid-container--home > *:last-child {
    grid-column: 3;
  }
  
  .grid-container--home {
    padding: 1.5rem clamp(1.5rem, 7vw, 5rem);
    align-items: end;
    padding-bottom: 6rem;
  }

  .home-content {
    animation: 1.5s fadeInRight;
  }
}

/* crew page */

.grid-container--crew {
  grid-template-areas:
  "title"
  "info"
  "pagination"
  "image";
}

.grid-container--crew > h1 {
  grid-area: title;
  margin-bottom: clamp(1rem, 5vw, 3rem);
}

.crew-info {
  grid-area: info;
}

.crew-member-description {
  margin-block: 2rem;
}

.grid-container--crew > .pagination-indicators {
  grid-area: pagination;
}

.crew-info p {
  max-width: 58ch;
}

.crew-info h2 {
  color: hsl(var(--clr-white) / 0.5);
}

.crew-image-container {
  grid-area: image;
  align-self: end;
  max-width: 85%;
}

.crew-image-container {
  position: relative;
}

.crew-image-container::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  z-index: 1;
  height: 50%;
  width: 100%;
  background: linear-gradient(transparent, 85%, hsl(var(--clr-dark)));
}

@media (min-width: 768px) {
  .grid-container--crew > h1 {
    justify-self: start;
  }

  .crew-image-container {
    max-width: 60%;
  }
}

@media (min-width: 1024px) {
  .grid-container--crew {
    grid-template-areas: 
      '. title title . '
      '. info image . '
      '. pagination image . '
  }

  .grid-container--crew > .pagination-indicators {
    justify-self: start;
    gap: 2.5rem;
    padding-bottom: 2rem;
  }

  .crew-image-container {
    max-width: 95%;
  }
}

/* technology page */

.grid-container--technology {
  grid-template-areas:
  "title"
  "image"
  "content";
}

.grid-container--technology > h1 {
  grid-area: title;
  margin-bottom: clamp(1rem, 5vw, 3rem);
}

.technology-content {
  grid-area: content;
  flex-direction: column;
  gap: clamp(1rem, 5vw, 4rem);
}

.technology-info h2 {
  color: hsl(var(--clr-white) / 0.5);
}

.technology-info p {
  max-width: 58ch;
}

.technology-description {
  margin-block: 2rem;
}

.grid-container--technology .numbered-indicators {
  justify-content: center;
}

.technology-img-landscape {
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	max-width: 100vw;
	width: 100vw;
}

.technology-img-portrait,
.technology-img-landscape {
  grid-area: image;
}

.technology-img-portrait {
  display: none;
}

@media (min-width: 768px) {
  .grid-container--technology > h1 {
    justify-self: start;
  }
}

@media (min-width: 1024px) {
  .grid-container--technology {
    padding-inline: 0;
    padding-bottom: 5rem;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 40rem) minmax(0, 20rem) minmax(1rem, 1fr);
    grid-template-areas: 
      '. title title . '
      '. content image . '
  }

  .technology-content {
    flex-direction: row;
  }

  .grid-container--technology .numbered-indicators {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .technology-img-portrait {
    display: block;
    grid-column: span 2;
    justify-self: end;
  }

  .technology-img-landscape {
    display: none;
  }
}

/* animations */

@keyframes fadeInUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.85);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.85);
	}
}

@keyframes pulse-bg {
	0% {
		transform: scale(0.95);
    opacity: 1;
	}

	70% {
		transform: scale(1.5);
    opacity: 1;
	}

	100% {
		transform: scale(0.95);
    opacity: 1;
	}
}
